.header {
    margin: 1.25rem;/*20px */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-family-headings;
    margin-bottom: 5.625rem;

    @include breakpoint-up(medium) {
        margin: 5rem 5.1875rem 15rem 5.1875rem;
    }


    &__logo {
        height: 0.9375rem;
        
        @include breakpoint-up(medium) {
            height: 2.3754rem;
        }
    }

    &__button {  
        text-align: center;
        align-items: center;
        border: 0.09rem $pink solid;
        border-radius: 3.125rem;/* 
        padding: 0.1875rem 0.625rem 0.125rem 0.625rem; */
        font-size: 0.7rem;
        color: $pink;

        @include breakpoint-up(medium) {
            width:8.68rem;
            height: 2.5rem;/* 
            padding: 0.8125rem 0.9375rem; */
            padding-top: 0.5625rem;
            font-size: 0.8125rem;
            font-weight: 300;
        }

        &:hover {
            opacity: 0.9;
            border: solid 0.09rem;
            transform: scaleY(1.025);
            transition: 150ms ease-in-out;
        }
    }
}