.hero {
    margin: 2.0625rem;
    text-align: center;
    font-family: $fontfamily-body;

    @include breakpoint-up(large) {
        margin: 0 13.25rem 0 13.25rem;
    }

    a {
        display: grid;
        align-content: center;
        width: 100%;
        height: 100%;
        color: $white;
    }
    a.button:hover {
        opacity: 0.1;
    }

    &__title { 

        @include breakpoint-up(medium) {
            font-size: 2.72992rem;
            margin-top: 0;
            margin-bottom: 1.2rem;
        }
    }

    &__text {
        margin-bottom: 0;

        @include breakpoint-up(medium) {
            font-size: 1.06rem;
        }

        @include breakpoint-up(large) {
            font-size: 1.0962rem;    
            font-weight: 400;   
            line-height: 1.6;     
            margin: 0 11.875rem 0 12.4375rem;
        }
    }

    &__button {
        width:  11.0625rem;
        height: 2.1875rem;
        border-radius: 3.125rem;

        @include breakpoint-up(large) {
            width: 25rem;
            height: 5rem;
            font-size: 1rem;
            margin-bottom: 6.5rem;
        }
    }

    &__image {

        img {
            width: 100%;
        }
    }
}