@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: hsl(207, 100%, 100%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a:hover {
  color: hsl(321, 100%, 78%);
  transition: 150ms ease-in-out;
}

h1 {
  font-size: 1.225rem;
}

h1,
h2 {
  color: hsl(192, 100%, 9%);
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

p {
  color: hsl(192, 100%, 9%);
  font-size: 0.7525rem;
  line-height: 1.5;
}

button {
  transition: 150ms ease-in-out;
}

button:hover {
  background-color: hsl(321, 100%, 78%);
  transform: scaleX(1.05);
}

.button {
  margin-top: 2.687rem;
  margin-bottom: 5rem;
  font-size: 0.76875rem;
  border: transparent;
  background-color: hsl(322, 100%, 66%);
  font-family: "Open Sans", sans-serif;
  color: hsl(207, 100%, 100%);
  font-weight: 700;
  box-shadow: 0 8px 8px -4px lightblue;
  cursor: pointer;
}

.header {
  margin: 1.25rem; /*20px */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin-bottom: 5.625rem;
}
@media (min-width: 41.25em) {
  .header {
    margin: 5rem 5.1875rem 15rem 5.1875rem;
  }
}
.header__logo {
  height: 0.9375rem;
}
@media (min-width: 41.25em) {
  .header__logo {
    height: 2.3754rem;
  }
}
.header__button {
  text-align: center;
  align-items: center;
  border: 0.09rem hsl(322, 100%, 66%) solid;
  border-radius: 3.125rem; /* 
padding: 0.1875rem 0.625rem 0.125rem 0.625rem; */
  font-size: 0.7rem;
  color: hsl(322, 100%, 66%);
}
@media (min-width: 41.25em) {
  .header__button {
    width: 8.68rem;
    height: 2.5rem; /* 
padding: 0.8125rem 0.9375rem; */
    padding-top: 0.5625rem;
    font-size: 0.8125rem;
    font-weight: 300;
  }
}
.header__button:hover {
  opacity: 0.9;
  border: solid 0.09rem;
  transform: scaleY(1.025);
  transition: 150ms ease-in-out;
}

.hero {
  margin: 2.0625rem;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
@media (min-width: 82.5em) {
  .hero {
    margin: 0 13.25rem 0 13.25rem;
  }
}
.hero a {
  display: grid;
  align-content: center;
  width: 100%;
  height: 100%;
  color: hsl(207, 100%, 100%);
}
.hero a.button:hover {
  opacity: 0.1;
}
@media (min-width: 41.25em) {
  .hero__title {
    font-size: 2.72992rem;
    margin-top: 0;
    margin-bottom: 1.2rem;
  }
}
.hero__text {
  margin-bottom: 0;
}
@media (min-width: 41.25em) {
  .hero__text {
    font-size: 1.06rem;
  }
}
@media (min-width: 82.5em) {
  .hero__text {
    font-size: 1.0962rem;
    font-weight: 400;
    line-height: 1.6;
    margin: 0 11.875rem 0 12.4375rem;
  }
}
.hero__button {
  width: 11.0625rem;
  height: 2.1875rem;
  border-radius: 3.125rem;
}
@media (min-width: 82.5em) {
  .hero__button {
    width: 25rem;
    height: 5rem;
    font-size: 1rem;
    margin-bottom: 6.5rem;
  }
}
.hero__image img {
  width: 100%;
}

.feature {
  display: grid;
  font-family: "Open Sans", sans-serif;
  margin: 4.5rem 6.06rem 0 6.06rem;
  gap: 5.375rem;
}
@media (min-width: 82.5em) {
  .feature {
    height: 13.4375rem;
    margin: 7.8125rem 17.6875rem;
    display: flex;
    justify-content: space-between;
  }
}
.feature__items {
  height: 7.44rem;
}
@media (min-width: 41.25em) {
  .feature__items {
    height: 100%;
  }
}
.feature__image {
  height: 1.5rem;
}
@media (min-width: 41.25em) {
  .feature__image {
    height: 2.5rem;
  }
}
.feature__number {
  font-family: "Open Sans", sans-serif;
  height: auto;
  font-size: 2.62rem;
  margin: 0;
}
@media (min-width: 41.25em) {
  .feature__number {
    font-size: 4.6875rem;
  }
}
.feature__text {
  margin: 0;
  color: gray;
  font-weight: 600;
}
@media (min-width: 41.25em) {
  .feature__text {
    font-size: 1.1rem;
  }
}
.feature__text.text__grid {
  margin: 0 2.25rem 0 0;
}
@media (min-width: 82.5em) {
  .feature__text.text__grid {
    text-align: center;
  }
}

.article {
  background-color: hsl(207, 100%, 98%);
}
@media (min-width: 41.25em) {
  .article {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 9.4375rem;
  }
}
.article__bg-top-mob {
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: -0.25rem;
}
@media (min-width: 41.25em) {
  .article__bg-top-mob {
    display: none;
  }
}
.article__desktop-top {
  display: none;
}
@media (min-width: 41.25em) {
  .article__desktop-top {
    display: initial;
    margin-bottom: -0.25rem;
    width: 100%;
  }
}
.article__bg-bottom-mob {
  background-repeat: no-repeat;
  width: 100%;
  margin-top: -0.8rem;
  margin-bottom: 6.3125rem;
}
@media (min-width: 41.25em) {
  .article__bg-bottom-mob {
    display: none;
  }
}
.article__desktop-bottom {
  display: none;
}
@media (min-width: 41.25em) {
  .article__desktop-bottom {
    display: initial;
    margin-top: -0.8rem;
    width: 100%;
  }
}
.article__image {
  width: 100%;
  padding: 0 2rem 0 2rem;
  margin-bottom: 4.18rem;
  margin-top: 3.25rem;
}
.article__description, .article__description--flex {
  width: 100%;
  color: hsl(192, 100%, 9%);
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding: 0 1.6875rem 3.125rem 1.6875rem;
}
.article__description > h3, .article__description--flex > h3 {
  font-size: 1.18rem;
}
.article__description > p, .article__description--flex > p {
  color: hsl(192, 100%, 9%);
  line-height: 1.6;
}
@media (min-width: 41.25em) {
  .article__description--flex, .article__description {
    text-align: left;
    height: -moz-max-content;
    height: max-content;
    margin-top: 4.125rem;
  }
  .article__description--flex > h3, .article__description > h3 {
    font-size: 2.5rem;
  }
  .article__description--flex > p, .article__description > p {
    font-size: 1rem;
  }
}
.article__no-bg {
  background-color: white;
  width: 100%;
  margin-top: 7.5625rem;
  margin-bottom: 6.3125rem;
}
@media (min-width: 41.25em) {
  .article__no-bg {
    width: 100%;
    display: flex;
    gap: 9.4375rem;
  }
}
.article__no-bg-img {
  width: inherit;
  padding: 0 2rem 0 2rem;
  margin-bottom: 4.18rem;
}
.article__footer {
  text-align: center;
  width: 100%;
  margin-bottom: 13.6875rem;
}
.article__footer__title {
  line-height: 2.5rem;
  margin: 4.0625rem 3.75rem 2.1875rem;
}
@media (min-width: 41.25em) {
  .article__footer__title {
    font-size: 2.5rem;
  }
}
.article__footer__button {
  width: 11.0625rem;
  height: 2.1875rem;
  border-radius: 3.125rem;
  border: solid transparent;
  font-family: "Open Sans", sans-serif;
  font-size: 0.76875rem;
  font-weight: 700;
  background-color: hsl(322, 100%, 66%);
  box-shadow: 0 8px 8px -4px lightblue;
  cursor: pointer;
}
@media (min-width: 82.5em) {
  .article__footer__button {
    width: 25.0625rem;
    height: 4.9375rem;
    font-size: 1.0625rem;
  }
}
.article__footer__button > a {
  color: white;
}

.footer {
  font-family: "Open Sans", sans-serif;
}
.footer__container {
  display: grid;
  justify-content: center;
  padding: 3.8125rem 1.5rem 2.4375rem 1.5rem;
  background-color: hsl(192, 100%, 9%);
}
@media (min-width: 82.5em) {
  .footer__container {
    display: flex;
    flex-direction: row-reverse;
    gap: 23.5625rem;
    padding: 8.3125rem 7.43rem 6.125rem 7.43rem;
  }
}
.footer__bg {
  width: 100%;
  margin-bottom: -0.5rem;
}
@media (min-width: 41.25em) {
  .footer__bg-top {
    display: none;
  }
}
.footer__bg-desktop-top {
  display: none;
}
@media (min-width: 41.25em) {
  .footer__bg-desktop-top {
    display: initial;
  }
}
.footer__newsletter {
  margin-bottom: 5.5rem;
  /* margin: 0 1.25rem 5.5rem ; */
}
@media (min-width: 41.25em) {
  .footer__newsletter {
    margin-bottom: 1.5rem;
  }
}
.footer__newsletter p {
  color: hsl(207, 100%, 100%);
  line-height: 1.8;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 1.875rem;
}
@media (min-width: 82.5em) {
  .footer__newsletter p {
    font-size: 0.865rem;
    margin-right: 11.25rem;
    line-height: 1.8;
  }
}
.footer__newsletter h3 {
  margin-top: 0;
}
@media (min-width: 82.5em) {
  .footer__newsletter h3 {
    font-size: 1.2875rem;
  }
}
.footer__newsletter .comment-box {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  height: 2.6rem;
  margin-bottom: 0.7rem;
  border-radius: 5px;
  border: transparent;
}
@media (min-width: 82.5em) {
  .footer__newsletter .comment-box {
    width: 19.5rem;
    height: 3rem;
  }
}
.footer__comment-box .error-message {
  display: none;
  color: red;
}
.footer__comment-box input:invalid + .error {
  display: block;
}
@media (min-width: 82.5em) {
  .footer__comment-box {
    display: flex;
    gap: 2.25rem;
  }
}
.footer__button {
  width: 8.8125rem;
  height: 2.6875rem;
  border: 1px;
  background-color: hsl(322, 100%, 66%);
  color: hsl(207, 100%, 100%);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
@media (min-width: 82.5em) {
  .footer__button {
    width: 10.0625rem;
    height: 3rem;
    font-size: 0.875rem;
  }
}
.footer__contact {
  /*margin: 0 24px;
  padding-bottom: 3.125rem; */
}
@media (min-width: 41.25em) {
  .footer__contact {
    margin: 0;
    padding: 0;
  }
}
.footer__contact-text {
  color: hsl(207, 100%, 100%);
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 2.5625rem;
}
@media (min-width: 82.5em) {
  .footer__contact-text {
    line-height: 1.8;
    font-size: 0.865rem;
  }
}
.footer__logo {
  height: 1.8125rem;
}
@media (min-width: 82.5em) {
  .footer__logo {
    height: 2.5rem;
  }
}
.footer__infos {
  height: 1rem;
  display: flex;
}
@media (min-width: 82.5em) {
  .footer__infos {
    height: 1.3125rem;
  }
}
.footer__infos {
  margin-bottom: 1.25rem;
}
.footer__infos img {
  width: 1rem;
  height: 100%;
  margin-right: 1rem;
}
@media (min-width: 82.5em) {
  .footer__infos img {
    width: 1.3125rem;
    height: 100%;
  }
}
.footer__infos span {
  color: #D9D9D9;
  font-size: 0.8125rem;
}
@media (min-width: 82.5em) {
  .footer__infos span {
    font-size: 0.975rem;
  }
}
.footer__social {
  width: 100%;
  height: 1.3125rem;
  margin-top: 2.8125rem;
  /*  & img:hover  {
       filter: brightness(1) saturate(100%) hue-rotate(0deg)
   } */
}
@media (min-width: 82.5em) {
  .footer__social {
    height: 2rem;
  }
}
.footer__social img {
  height: 100%;
  margin-right: 0.875rem;
  transition: 15ms ease-in-out;
  /*  &:hover {
       filter: brightness(1) saturate(100%) hue-rotate(0deg)
   } */
}
.footer__social img:hover {
  transform: scale3d(1.5);
  filter: sepia(700%) saturate(50005%) hue-rotate(100deg) brightness(60%) contrast(200%);
}
@media (min-width: 82.5em) {
  .footer__social img {
    margin-right: 1.5rem;
  }
}

.button-box {
  display: flex;
  justify-content: end;
}/*# sourceMappingURL=main.css.map */